/.idea/
/.deployment-credentials.php
/.docker/
/app/config/config.local.neon
/assets/bower_components/
/log/
/node_modules/
/temp/
/vendor/
/www/archive/
/www/upload/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
.symfony5/
